body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-image: url('https://user-images.githubusercontent.com/73612536/99750901-31517f00-2aaf-11eb-9e06-063885395762.png');
    height: 1020px;
    padding-top: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo{
    height: 82px;
    margin-left: 20px;
    transition: all .2s ease-in-out;
    
 }

#logo:hover { 
transform: scale(1.1); 
}

nav{
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    
}

.navbar{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 70px;
}

.navbar li {
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
    bottom: 20px;    
}

.navbar a {
    color: white;
    text-decoration: none;
  }

.dropbtn {
    background-color: transparent;
}

.dropdown {
    overflow: hidden;
}

  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; 
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .fa-external-link-square-alt {
      color: gray;
  }

#nav-premium {
    position: relative;
    top: 14px;
    margin-right: 40px;
}

#open {
    border: 1px solid white;
    color: white;
    text-decoration: none;
    padding-top: 3px;
    transition: all .1s ease-in-out;   
    height: 19px;
    margin-right: 20px;
    font-size: 14px;    
    letter-spacing: 1.5px;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 12px;
}

#open:hover { 
transform: scale(1.1); 
}

#head-image {
    width: 610px;
    margin-top: 165px;
}

.main-sections {
    text-align: center;  
       
}

.main-sections h1{
    font-size: 48px; 
}

#title{
    color: white; 
}

#title h1 {
    font-weight: 450;
}

#title p {
    width: 570px;
    
}

.main-sections p {
    font-size: 20px;    
    margin-right: auto;
    margin-left: auto;
   line-height: 28px;
}

#title-par-2 {
    padding: 10px 0;
}

.open-button {
    background-color:#fe9000;
    color: white;
    width: 220px;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
}

#featured {
    display: grid;
    /* grid-template-columns: 300px 300px 300px; */
    grid-template-columns: 28em 20em 20em 20em 20em;
    grid-template-rows: 150px 150px 150px 150px;
    padding-top:50px;  
    justify-content: center;
      
    
}

#featured h2{
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
    padding-right: 110px;
        
}

#wired{
    grid-column: 2/3;
    grid-row: 2/3;
   
    
}

#nerdist{
    grid-column: 3/4;
    grid-row: 2/3;
    
}

#yahoo {
    grid-column: 4/5;
    grid-row: 2/3;
    
}

#evening {
    grid-column: 2/3;
    grid-row: 3/4;
}

#bbc {
    grid-column: 3/4;
    grid-row: 3/4;
}

 
#dailym {
    grid-column: 4/5;
    grid-row: 3/4;
}

#quote {
    grid-column: 2/5;
    grid-row: 4/5;
    justify-self: center;
    font-size: 20px;
}

#quote span{
    grid-column: 2/5;
    grid-row: 5/6;
    justify-self: center;
    
}

#what-is {
    background-image: url('https://user-images.githubusercontent.com/73612536/99750904-331b4280-2aaf-11eb-829b-2fcad5fe3c18.jpg');
    padding-top: 70px;
    padding-bottom: 120px;
    color: white; 
}


#what-is p {
    width: 650px; 
}

#try {
    padding-top: 80px;
    color:#434146;
    
}
 
#try h1{
    
}

#try p {
    color: black;
    width: 700px;
    
}

#video {
   /* background-color: orchid; */
   margin-top: -80px;
   margin-bottom: -70px;
}

#try h2 {
    margin-bottom: 60px;
}

#learn {
    padding-top: 30px;
    padding-bottom: 90px;
    text-decoration: none;
}

#learn a {
    text-decoration: none;
    color: #fe9000;
    font-size: 14px;
}

#learn a:hover {
    text-decoration: underline;
}

#premium {
    background-color: #434146;
    color: white;
    
    

}

.cards {
    height: 220px;
    width: 250px;
    background-color: #2b2b33;
    border-radius: 5px;
    /* text-align: center; */
    display: grid;
    grid-template-columns: 20em 20em 20em 20em 20em 20em 20em 20em;
    grid-template-rows: 150px 150px;
    place-items: center;
    

    
}
#ad-free {
    grid-column: 1/3;
    grid-row: 1/2;  
    place-self: center;  
}

#vid-quality {
    grid-column: 3/5;
    grid-row: 1/2;
    place-self: center;
}
/* 
#join {
    background-color: crimson;
    padding: 0px 0;
}

#join h3 {
    text-align: center;
}

#images{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%
}
#join img {
    height: 250px;
    width: 250px;
    margin: 0 10px;
    
}

footer {
    background-color: goldenrod;
} */